{% extends "base.html" %}
{% block body %}
{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>    

   <div class="tab">
      <button class="tablinks" onclick="openCity(event, 'id-body')">Edit</button>
      <button class="tablinks" onclick="openCity(event, 'Preview')">Preview</button>
   </div>
<div id="sender">
   <h3 >Sender:</h3>
   <h4 id="email-sender">{{ request.user.email }}</h4>
</div>
<div class="mb-3">
   <form method="POST" enctype="multipart/form-data" action='.'>
      {% csrf_token %}
      {{form.as_p}}
      <div id="Preview" class="tabcontent" align="right">
         <h2>Preview</h2>
         <div class="mail-preview">
            <p id="mail-content"></p>
         </div>
      </div>
      <button id="send" onclick="sendmail()" >Send Mail</button>
   </form>
   <form>
      <select name="schedule">
         <option value="once">Once</option>
         <option value="weekly">Weekly</option>
         <option value="monthly">Monthly</option>
      </select>
   </form>
   <form id="myForm">
      <input type="file" id="csvFile" accept=".csv" hidden="hidden" />
      <button type="button" id="csvfile">CSV File</button>
      <div class = 'hem'>
         <input type="submit" value="Submit" id='subcsv'/>
      </div>
   </form>
   <script>
      const myForm = document.getElementById("myForm");
             const csvFile = document.getElementById("csvFile");
      
      var customTxt = document.getElementById("id_recipients_list");
      	myForm.addEventListener("submit", function (e) {
      	    e.preventDefault();
      	    const input = csvFile.files[0];
      	    const reader = new FileReader();
      
      	    reader.onload = function (e) {
      		const text = e.target.result;
      		customTxt.value=text;
      	    };
      
      	    reader.readAsText(input);
      	});
      const realFileBtn = document.getElementById("csvFile");
      const customBtn = document.getElementById("csvfile");
      
      customBtn.addEventListener("click", function() {
        realFileBtn.click();
      });
      
      realFileBtn.addEventListener("change", function() {
        if (realFileBtn.value) {
          customTxt.value= realFileBtn.value.match(
            /[\/\\]([\w\d\s\.\-\(\)]+)$/
          )[1];
        } else {
          customTxt.innerHTML = "No file chosen, yet.";
        }
      });
         function sendmail(){
             alert("Mail successfully scheduled");
         }
         
             $(document).ready(function(){
                         $(".form-control > textarea").each(function(){
                                     var content = $(this).text()
                                     $(this).html(content)
                         })
             var contentvalue = $("#id_body")
             $("#mail-content").html(contentvalue.val())
      
             function changePreview(value){
                 var content = value
                 $("#mail-content").html(content)
             }
      
             contentvalue.keyup(function(){
                     var newBody = $(this).val()
                     newBody = marked(newBody)
                     changePreview(newBody)
             });
      
             })
      function openCity(evt, cityName) {
       var i, tabcontent, tablinks;
       tabcontent = document.getElementsByClassName("tabcontent");
       for (i = 0; i < tabcontent.length; i++) {
         tabcontent[i].style.display = "none";
       }
       tablinks = document.getElementsByClassName("tablinks");
       for (i = 0; i < tablinks.length; i++) {
         tablinks[i].className = tablinks[i].className.replace(" active", "");
       }
       document.getElementById(cityName).style.display = "block";
       evt.currentTarget.className += " active";
      }
         
   </script>
</div>
{% endblock body %}
